*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grilla{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 8vh 75vh 7vh;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer"
    ;
    grid-column-gap: 0%;
    grid-row-gap: 0%;
    justify-items: stretch;
}

header{
    display:flex;
    flex-direction: row;
    align-content:space-around;
    width: 100%;    
}

.header{
   grid-area: header;
}

.logo{
    width: 10%;
    height: auto;
    margin: 0.5rem;
}


a{
    text-decoration: none;
}

.nav
{
    grid-area: nav;
}

nav{
    display: flex;
    align-items: center;
    justify-content: end;
}

nav ul li{
    display: inline-block;
    margin: 0.5rem;
    font-size: 1.2rem;    
    font-weight: 600;
}

nav ul li a{
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    color: #c87d5d;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    position: relative;
}

nav ul li a:hover{
    color: #a7684d;
}

/*Animaciones NAV*/
nav ul li a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #a7684d;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


.linkActive{
    color: #a7684d;
}

.submenu{
    position: relative;
}

ul ul{
    display: none;
    position: absolute;
    width: 100%;
    top: 1rem;
    left: 0.5rem;
}

ul ul li{
    display: block;
}

ul li:hover ul{
    display: block;
}

.fa-sort-down{
    margin-left: 0.5rem;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    color: white;
    text-align: left;
    font-size: 2rem;
    letter-spacing: 0.4rem;
}

h2{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.5rem;
}

main{
    overflow-y :auto;
}

.main{
    grid-area: main;
}

section p{
    text-align: center;
    font-size: 1rem;
    color: #000;
    width: 95vw;
    margin-left: 1rem;
}

.banner{
    width: 90%;
    padding: 1rem;
    margin: 2rem auto;
    background-color: #87AAAA;
}

.text1{
    margin-top: 15px;
    color: white;
    text-align: center;    
    font-size: 2rem;
    letter-spacing: 0.4rem;
    font-weight: 600;
    height: 10vh;
    animation: text 2s 1;
}

@keyframes text{
    0%{
        color: black;
        margin-bottom: -10px;
    }
    30%{
        letter-spacing: 1.5rem;
        margin-bottom: -10px;
    }
    85%{
        letter-spacing: 0.5rem;
        margin-bottom: -10px;
    }
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5rem;
    width: 60%;
    height: 40%;
    margin: 2rem auto;
}
.grid__container__img{
    width: 100%;
}
/*Animación Grid*/
.overlay{
    height: 100%;
    background-color: #eb9a77;
    opacity: 0;
    transform: translate(0%, -100%);
    transition: .5s ease;
    z-index: 1;
    position: relative;
}
.grid__container:hover .overlay {
    opacity: 1;
} 
.overlay__title{
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.overlay__description{
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form{
    margin-top: 3rem;
    margin-left: 1.5rem;
    padding-left: 1rem;
    border: #000000;
    border-style:solid;
    width: 30%;
    border-width: 1px;
}

form h2{
    text-align: left;
}

.parrafoForm{   
    margin: 0;   
    text-align: left;
}

.listaObjetivos{
    margin-top: 1rem;
    list-style-type:square;
    margin-left: 3rem;
    font-weight: bold;
}

.divUnite{
    margin-top: 2rem;
}

.contenedorGaleria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
}

.itemGaleria{
    position: relative;
}

.imgGaleria{
    width: 100% ;
    height: 100% ;
    object-fit: cover;
 }

.itemGaleria:nth-child(4){
    grid-column-start: span 2;
 } 

 .itemGaleria:nth-child(5){
    grid-row-start: span 2;
 }

 .itemGaleria:nth-child(9){
    grid-column-start: span 2;
 }

.tituloItem{
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1));
    width: 100%;
    margin:0;
    padding: 5px;
}

.footer{
    grid-area: footer;
}

footer p{
    color: black;
    font-weight: 600;
    padding-top: 2%;
    text-align: center;
    font-size: 0.8rem;
}

.fa-whatsapp{
    position: fixed;
    bottom: 5%;
    right: 3%;
    color: #fff;
    font-size: 2rem;
    background-color: #3ec34f;
    border-radius: 50%;
    padding: 0.6rem;
}


/*PASO 1: Mobile LAST*/
/*TAMAÑO MEDIANO: TABLET*/

@media (max-width: 768px){
    .header{
        flex-direction: column;
        width: 20vh;
        height: 10vh;
    }

    .logo{
        width: 50%;      
    }

    .banner{
        margin-inline-end: auto;        
        padding: 1rem;                
    }

    nav ul li{
        font-size: 0.9rem;
        font-weight: 800;
    }

    .main p{
        margin-top: 3rem;        
        font-size: 1rem;
        width: 50vw;
        margin-left: 10rem;
    }

    h1{       
        font-size: 1.5rem;
        letter-spacing: 0.0rem;
    }

}

/*TAMAÑO CHICO: CELULAR*/
@media (max-width: 460px){
    .header{
        flex-direction: column;
        height: 20vh;
    }
    .nav{        
        height: 15vh;
    }

    nav ul li{        
        font-size: .6rem;
        font-weight: bold;
        font-stretch: expanded;
    }

    .banner{
        margin-inline-end: auto;
    }    
    .contenedorFlex{        
        flex-direction: column;
    }
    .main p{
        margin-top: 0rem;        
        font-size: 1rem;
        width: 50vw;
        margin-left: 5rem;
    }

    .contenedorFlex img{
        width: 50vw;
        height: 30vh;
    }

    h1{       
        font-size: .5rem;
        letter-spacing: 0.1rem;
        padding: 1px;        
    }
    
    form{
        width: 70%;   
        margin-top: 1.5rem;
        margin-left: 3.5rem;
        padding-left: 1rem;
    }   

    .parrafoForm{                 
        margin:0 !important ;
    }
    .imgGaleria{
        width: 100% ;
        height: 100% ;
        object-fit: cover;
     }
 }

/*Tamaño Grande Galeria*/
@media (min-width: 800px){
    .contenedorGaleria{       
        grid-template-columns: repeat(4,1fr);       
    }

    .itemGaleria:nth-child(1){
        grid-column-start: span 2;
     } 

     .itemGaleria:nth-child(6){
        grid-row-start: span 2;
     }
    
     .itemGaleria:nth-child(10){
        grid-column-start: span 2;
     }    
  
}
